@model IEnumerable<Vidly.Models.ClienteFilme>

@{
    ViewData["Title"] = @Model.FirstOrDefault().Cliente.Nome;
}

<h1>@ViewData["Title"]</h1>


@if(@Model != null)
{
    <h2>Informações de cadastro</h2>

    <div>
        
        
        <p>Tipo de Membro: @Model.FirstOrDefault().Cliente.MembroTipo.Nome</p>
        @{
            if( @Model.FirstOrDefault().Cliente != null)
            {
                <p>Data de Aniversário: @Model.FirstOrDefault().Cliente.DataAniversario</p>
            }
        }
        @{
            if(@Model.Count() > 0 )
            {
                <div class="card">
                
                <h2>Filmes Assistidos</h2>
                <table class="table table-hover">
                    <tr >
                        <th>Nome</th>
                        <th>Genero</th>
                    </tr>

                    <tbody>
                
                        @{foreach(var filme in @Model)
                            {
                                if(filme.Filme != null)
                                {
                                    <td>@filme.Filme.Titlo</td>
                                    <td>@filme.Filme.Genero.Nome</td>
                                }
                            }
                        }
                    </tbody>
                  </table>
                </div>
                       
            }
        }
    </div>
}
else
{
    <h2> Nenhum Cliente Cadastrado!</h2>
} 