@model Vidly.ViewModel.ClienteFilmes

@{
    ViewData["Title"] = @Model.Cliente.Nome;
}

<div class="row">
        <div class="col-sm">
            <h1>@ViewData["Title"]</h1>
        </div>

</div>

@if(@Model != null)
{
    <div class="row">
        <div class="col-sm">
        
            <h2>Informações de cadastro</h2>
        </div>

        <div class="col-sm">
        
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            
                <button class="btn btn-primary" 

                onclick="location.href='@Url.Action("Edit", "Clientes",new { Id = @Model.Cliente.Id })'">
                    Editar
                </button>

                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
                    Add Filme
                </button>
            </div>
            
        </div>
    </div>

    <div>
        <p>Tipo de Membro: @Model.Cliente.MembroTipo.Nome</p>
        @{
            if( @Model.Cliente != null)
            {
                <p>Data de Aniversário: @Model.Cliente.DataAniversario</p>
            }
        }
        @{
            if(@Model.Filmes.Count() > 0 )
            {
                <div class="card">  
                
                <h2>Filmes Assistidos</h2>
                <table class="table table-hover">
                    <tr >
                        <th>Nome</th>
                        <th>Genero</th>
                    </tr>

                    <tbody>
                        @{foreach(var filme in @Model.Filmes)
                            {
                                if(filme != null)
                                {
                                    <td>@filme.Titlo</td>
                                    <td>@filme.Genero.Nome</td>
                                }
                            }
                        }
                    </tbody>
                  </table>
                </div>    
            }
            else
            {
                <h2> Nenhum Filme Locado!</h2>
            } 
        }
    </div>
}


<!-- Modal 
-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filmes Disponíveis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          
        <table id ="tableModal" class="table table-hover">
            <thead>
                <tr>
                    <th>Filme</th>
                    <th>Genero</th>
                </tr>
            </thead>
            <tbody id="tbodyTableModal">
            </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="BtnClick()">Salvar</button>
      </div>
    </div>
  </div>
  <script>
    function BtnClick()
    {
        $.ajax({
            url: "/Filmes/GetFilmes",
            method:"GET",
            success:function (data){               
                
                var elemento = document.querySelector("#tbodyTableModal");
                

                data.forEach((value)=>{
                
                    let tr = document.createElement('tr');
                    let tdTitlo = document.createElement('td');
                    tdTitlo.innerHTML = value.titlo;
                    let tdGenero = document.createElement('td');
                    tdGenero.innerHTML = value.genero.nome;
                    tr.appendChild(tdTitlo);
                    tr.appendChild(tdGenero);
                    elemento.appendChild(tr);   
                });
                
                console.log(data);
            },
            error: function(err){
                console.log(err);
            }
        })
    }
</script>

</div>

