@model IEnumerable<Vidly.Models.Cliente>

@{
    ViewData["Title"] = "Clientes Cadastrados";
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-primary my-2" 

onclick="location.href='@Url.Action("NovoCliente", "Clientes")'">
    Adiconar Cliente 
</button>

@if(@Model != null)
{
    <div class="card">

        <table class="table table-hover">
            <tr >
                <th>Clientes</th>
                <th>Tipo de Membro</th>
                <th class="text-center">Desconto %</th>
                <th> Opções </th>
            </tr>
            
            <tbody>
                @foreach(var cliente in @Model)
                {
                    <tr>
                        <td> @Html.ActionLink(cliente.Nome , "Detalhes", new { id = cliente.Id })</td>
                        <td> @cliente.MembroTipo.Nome</td>
                        <td class="text-center"> @cliente.MembroTipo.Desconto%</td>
                        <td>
                            <button class="btn btn-danger my-2" 

                                onclick= location.href='@Url.Action("Excluir", "Clientes", new { id = cliente.Id })'>
                                    Excluir
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h2> Nenhum Cliente Cadastrado!</h2>
}